* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
}
html {
	scroll-behavior: smooth;
}
body {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div {
	margin: 0;
	padding: 0;
	/*border: 1px solid red;*/
}

header {
	position: fixed;
	z-index: 12;
	width: 100%;
	height: 10vh;	
	background: #EB0280; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #1D1B7A, #450F89); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #1D1B7A, #450F89);
 	box-shadow: 0px 10px 20px rgba(235, 2, 128, .4);

}

h1 {
	text-align: center;
	font-size: 48px;
	color: #FFE7D6;
	margin-top: 90px;
	padding-bottom: 30px;
	text-transform: uppercase;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
				-2px -2px 5px rgba(255, 255, 255, .7),
				0px 10px 20px #EB0280,
				0px 5px 20px #EB0280;
}
h2 {
	text-align: center;
	color: #FFE7D6;
	font-size: 24px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
				-2px -2px 5px rgba(255, 255, 255, .7),
				0px 10px 20px #EB0280,
				0px 5px 20px #EB0280;
	margin-bottom: 20px;

}

p {
	font-size: 18px;
	color: #FFE7D6;
	text-align: center;
}
span {
	color: #FFE7D6;
	font-size: 18px;
	text-align: center;
}

.content {
	margin: 0 auto;
	max-width: 1400px; /*стандартные значения для лендинга*/
	min-width: 320px;
	background-color: rgba(29, 27, 122, 0.8);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
				inset -10px -10px 15px rgba(5, 5, 80, 0.4),
				inset 5px 0 15px rgba(5, 5, 80, 0.4);
	padding-bottom: 30px;
}

.content span {
	width: 60%;;
}

.header-content {
	margin: 0 auto;
	position: relative;
	max-width: 1130px;
	min-width: 320px;
	height: 10vh;
 	display: flex;
 	justify-content: center;
 	align-items: center;
}
.logo {
	top: 0;
	left: 0;

}

.logo-image {
	margin-right: 20px;
	position: relative;
	width: 90px;
	height: 10vh;

	animation: svetyash-chiysya 2s linear infinite alternate; 
	-webkit-animation: svetyash-chiysya 2s linear infinite alternate;
  -moz-animation: svetyash-chiysya 2s linear infinite alternate; 
	
}



.logo-text {
	font-size: 24px;
	font-weight: bold;
	color: #CAF5FF;
	text-shadow: 0 0 10px #4AC2FE;
}

@keyframes svetyash-chiysya {
  0% {
  	background-image: url(img/logo4.png);
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
  	opacity: 0.5;

  }


  100% {
  	opacity: 1;
  	background-image: url(img/logo4.png);
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
  }
 }
.nav-bar {
	flex-grow: 2;
	display: flex;
	justify-content: flex-end;
}
.nav-link {
	font-size: 14px;
	padding: 10px;
	text-decoration: none;
	margin-right: 60px;
	color: #CAF5FF;
	text-shadow: 0 0 10px #4AC2FE;
}
.nav-link:hover {
	text-shadow: 0 0 10px #EB0280, 0 0 10px #EB0280, 0 0 10px #EB0280;
}
/*Главная*/
main {
	position: relative;
	width: 100%;
	background-color: #1D1B7A;
	background-image: url(img/bg6.png);
}

/*Баннер*/
.slide {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0;
	z-index: 1;
	transition: opacity 3s;

	font-size: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
.slide-1 {
	position: relative;
}
.slide:nth-of-type(1){
	background: linear-gradient(to top, rgba(150, 0, 120, 0.8), 70%, #450F89), 
	url(img/img1.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}
.slide:nth-of-type(2){
	background: linear-gradient(to left top, rgba(133, 25, 64, 0.8), 70%, #450F89), 
	url(img/img5.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}
.slide:nth-of-type(3){
	background: linear-gradient(to top, rgba(51, 51, 153, 0.8), rgba(69, 15, 137, 0.9)), 
	url(img/img4.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}
.showing {
	opacity: 1;
	z-index: 2;
}

/*Преимущества*/
.features:before {
	content: "";
	width: 100%;
	height: 100vh;
}
.features {
	width: 100%;
	display: flex;
	flex-direction: column;

}
.features-block {
	display: flex;
	justify-content: space-between;
}

.feature {
	width: 30%;	
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.feature-text {
	position: relative;
	top: -10px;
	width: 90%;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	padding: 20px;
	padding-top: 40px;
	z-index: 1;
}
.feature-img {
	width: 100%;
	height: 300px;
	border-radius: 25px;
	z-index: 2;
	background-image: url(img/img6.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;

  	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
				-2px -2px 5px rgba(255, 255, 255, .7),
				0px 10px 20px #EB0280,
				inset -10px -10px 10px rgba(0, 0, 0, 0.7);
}

.f-img1 {
	background-image: url(img/friends.png);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}
.f-img2 {
	background-image: url(img/img22.png);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}
.f-img3 {
	background-image: url(img/img6.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}
.decorated {
	text-decoration: none;
	font-size: 18px;
	color: #CAF5FF;
	text-shadow: 0 0 10px #4AC2FE;
}
.decorated:hover {
	color: #ffcaed;
	text-shadow: 0 0 10px #fe4ae6;
}
/*Персонажи*/
.characters {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.characters-block {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}
.person {
	width: 30%;
	height: 750px;
	border-radius: 25px;
	/*display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
				inset -10px -10px 15px rgba(5, 5, 80, 0.4),
				inset 5px 0 15px rgba(5, 5, 80, 0.4);
	padding-bottom: 30px;*/

}

.person:hover {
	box-shadow: 
				inset -10px -10px 15px rgba(235, 2, 128, 0.6),
				inset 5px 0 15px rgba(235, 2, 128, 0.6),
				0 0 50px 5px #EB0280,
				0 0 50px 5px #EB0280;
}
.person-img {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	margin-top: 30px;
  	
}

.person p {
	color: #0F0D63;
	font-size: 24px;
}
.person a {
	text-align: center;
	color: #FFE7D6;
	font-size: 24px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
				-2px -2px 5px rgba(255, 255, 255, .7),
				0px 10px 20px #EB0280,
				0px 5px 20px #EB0280;
	margin-bottom: 20px;
}
.person a:hover {
	color: #CAF5FF;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
				-2px -2px 5px rgba(255, 255, 255, .7),
				0px 10px 20px #00AAFF,
				0px 5px 20px #00AAFF;

}
.person span {
	color: #CAF5FF;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
				-2px -2px 5px rgba(255, 255, 255, .7),
				0px 10px 20px #00AAFF,
				0px 5px 20px #00AAFF;
	font-size: 24px;
}

.p-img1 {
	background-image: url(img/char11.png);
	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
}
.p-img2 {
	background-image: url(img/char21.png);
	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
}
.p-img3 {
	background-image: url(img/char31.png);
	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
}
/*Модальное окно*/
.modal {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100vh;
	transition: all 0.3s ease-in-out;
	background-color: rgba(0, 0, 0, 0.4);
	

}

.modal .modal-container {
	width: 70%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transform: translate(0%, -100%); visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	display: grid;
	grid-template-columns: 2fr 3fr 1fr;	
	align-items: start;
	justify-items: start;	
	align-content: start;
}

.modal:target {

	display: block;
	visibility: visible;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.modal:target .modal-container {
	padding: 30px;
	border-radius: 25px;
	transform: translate(0%, 50%); visibility: visible;
	opacity: 1;
	transition: all 0.3s ease-in-out;
	background-color: #EDE2FC;
	background-image: url(img/bg7.png);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
				inset -10px -10px 15px rgba(5, 5, 80, 0.4),
				inset 5px 0 15px rgba(5, 5, 80, 0.4),
				-5px 0 20px #EB0280,
				5px 0 20px #EB0280;
	
}

.modal a {
	position: absolute;
	right: 30px;
	top: 30px;
}
.m-image {
	width: 300px;
	height: 423px;
	border-radius: 25px;
	box-shadow: inset -10px -10px 10px rgba(0, 0, 0, 0.5),
					-2px -2px 5px rgba(255, 255, 255, .7),
					0px 10px 20px #EB0280;
	
}
.m-image1 {
	background-image: url(img/modal-preview1.jpg);
	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
}
.m-image2 {
	background-image: url(img/modal-preview2.jpg);
	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
}
.m-image3 {
	background-image: url(img/modal-preview3.jpg);
	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
}
.modal-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.modal-text h1 {
	padding: 0;
	margin: 0;
	text-transform: none;
	padding-bottom: 30px;
}
.modal-text p {
	margin-bottom: 10px;
}
.h-color {
	display: inline-block;


}
.h-color span {
	display: inline-block;
	width: 25px;
	height: 25px;
	
	border-radius: 50%;
	box-shadow: 0px 0px 5px #EB0280;
}
.h-color1 {
	background-color: #FE9596;
}
.h-color2 {
	background-color: #7B3D38;
}
.h-color3 {
	background-color: #000;
}
/*Игры*/
.games {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mini-block {
	margin-top: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
}
.game {
	border-radius: 25px;
	padding: 30px;
	margin-bottom: 60px;
	/*background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
				inset -10px -10px 15px rgba(5, 5, 80, 0.4),
				inset 5px 0 15px rgba(5, 5, 80, 0.4);*/
}

.game-img {
	width: 100%;
	height: 500px;
	border-radius: 25px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
				-2px -2px 10px 2px rgba(255, 255, 255, .4),
				inset -10px -10px 10px rgba(0, 0, 0, 0.4);
}
.game-img1 {
	background-image: url(img/game1.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}
.game-img2 {
	background-image: url(img/game2.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}
.game-img3 {
	background-image: url(img/game3.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}
.game-descr {
	text-align: justify;
}
.game-topic {
	color: #CAF5FF;
	margin-bottom: 30px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
				-2px -2px 5px rgba(255, 255, 255, .7),
				0px 10px 20px #00AAFF,
				0px 5px 20px #00AAFF;
	font-size: 18px;
}

/*Кнопка наверх*/
.up-btn {
	position: fixed;
	bottom: 75px;
	right: 20px;
	cursor: pointer;
	width: 64px;
	height: 64px;
	font-size: 36px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	border: 3px solid;
	border-radius: 50%;
	border-color: rgba(255, 231, 214, 0.6);
	background-color: rgba(255, 231, 214, 0.1);;
	color: rgba(255, 231, 214, 0.8);
	box-shadow: 
	0 0 2px 1px #EB0280;
	text-shadow: 
	1px -1px 3px #EB0280,
	-1px 0 3px #EB0280;
	display: none;
}
.up-btn:hover {
	border-color: rgba(255, 231, 214, 1);
	color: rgba(255, 231, 214, 1);
	box-shadow: 
	0 0 20px 5px #EB0280;
	text-shadow: 5px 5px 8px #EB0280,
	5px -1px 8px #EB0280,
	-5px -5px 8px #EB0280,
	-5px 0 8px #EB0280;
	transition: 0.3s;
}
.visible {
	display: inline-block;
}
/*Галерея*/
.gallery-block {
	width: 100%;
	margin-top: 60px;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(4, auto);
	row-gap: 30px;
	column-gap: 30px;
}
.image {
	
	height: auto;
	margin-right: 30px;
	overflow: hidden;
}
.image img {
	padding: 20px;
	max-width: 300px;
	width: auto;

}
.btn {
	padding: 15px 60px;
	display: flex;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.349);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
				inset -10px -10px 15px rgba(5, 5, 80, 0.4),
				inset 5px 0 15px rgba(5, 5, 80, 0.4);
	cursor: pointer;
	font-size: 14px;
	text-decoration: none;
	color: #CAF5FF;
	text-shadow: 0 0 10px #4AC2FE;
}
.btn:hover, .image img:hover {
	box-shadow: 
				inset -3px -3px 15px rgba(235, 2, 128, 0.6),
				inset 3px 0 15px rgba(235, 2, 128, 0.6),
				0 0 5px 2px #EB0280,
				0 0 5px 2px #EB0280;
}
.cover {
	display: block;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
}
.openImg {
	display: none;	
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.bloock {
	display: flex;
	align-items: center;
	justify-content: center;
}


